@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
	font-family: 'Roboto', sans-serif;
}

.linda-nav {
	background-color: #060c30;
	z-index: +99;
}
.linda-nav .w3-dropdown-hover {
	background-color: transparent !important;
	padding: 0;
	margin: 0;
}

.linda-nav .menu-btn {
	background-color: transparent;
	border: none;
	font-size: 25px;
	color: #daa920;
}

.linda-nav .menu-btn:focus,
.linda-nav .menu-btn:active {
	outline: none;
}

.badge {
	padding-left: 5px;
	padding-right: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 50px;
	position: absolute;
	left: -12px;
	top: -8px;
	background-color: #060c30;
	color: #daa920;
	font-size: 12px;
}


/******************************************************************
					GENERAL MODAL STYLE
*******************************************************************/
#linda_businesses .modal {
	padding: 0;
	z-index: +999;
	margin: 0;
	background-color: #fff;
}

#linda_businesses .modal-content {
    background-color: #f5f6fa;
    margin: 0;
    padding: 0;
    border-radius: 0 !important;
    height: auto !important;
    height: 100vh !important;
    width: 100vw;
    overflow: auto;
} 

/* The Close Button */
#linda_businesses .modal-content .close {
    color: #fff;
    position: absolute;
    right: 10px;
    top: 12px;
    font-size: 35px;
    font-weight: bold;
}

#linda_businesses .modal-content .close:hover,
#linda_businesses .modal-content .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/******************************************************************
					LINDA BUSINESSES LIST STYLE
*******************************************************************/
#linda_businesses {
	margin-top: 50px;
	padding: 0.5em;
	background-color: #f5f6fa;
}

#linda_businesses .linda-description {
	margin-bottom: 40px;
}

#linda_businesses .linda-description h2 {
	font-size: 25px;
	font-weight: 600;
}

#linda_businesses .linda-description p {
	color: #777;
}

#linda_businesses .main-title {
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	margin: 20px 0 10px 0;
}

#linda_businesses .exising-biz .business {
	border: 1px solid #f2f2f2;
	padding: 0.5em;
	margin-bottom: 10px;
	background-color: #fff;
}

#linda_businesses .exising-biz .business .biz-name {
	color: #060c30;
	font-style: 'Roboto', sans-serif;
	font-weight: 550;
}

#linda_businesses .exising-biz .business .biz-location {
	font-size: 15px;
	color: #222
}

#linda_businesses .exising-biz .business .biz-description {
	margin-top: 5px;
}

#linda_businesses .exising-biz .business .order-now-btn {
	background-color: #060c30;
	padding: 0.3em 1em;
	border: none;
	color: #daa920;
	font-family: 'Roboto', sans-serif;
	border-radius: 5px;
}


/******************************************************************
					PLACE ORDER MODAL STYLE
*******************************************************************/
#linda_businesses .items-full-biz .modal-content .header-description {
	background-color: #060c30;
}

#linda_businesses .modal-content .header-description .profile-image {
	object-fit: cover;
	padding: 0.5em;
}

#linda_businesses .items-full-biz .modal-content .header-description .profile-image img {
	width: 50px;
	height: 50px;
	object-fit: cover;
	border: 1px solid rgb(255,255,255,0.3);
	border-radius: 50%;
}

#linda_businesses .items-full-biz .modal-content .header-description .name-location {
	padding: 0.5em 0;
}

#linda_businesses .items-full-biz .modal-content .header-description .name-location h2 {
	font-size: 20px;
	color: #fff;
	font-weight: 550;
}

#linda_businesses .items-full-biz .modal-content .header-description .name-location small {
	color: #daa920;
	font-size: 15px;
}

#linda_businesses .items-full-biz .modal-content .biz-items {
	padding: 0.5em;
}

#linda_businesses .items-full-biz .modal-content .biz-items .item {
	width: 100%;
	margin-bottom: 10px;
	padding: 0.4em 0.4em 0 0.4em;
	background-color: #fff;
	border: 1px solid #f2f2f2;
}

#linda_businesses .items-full-biz .modal-content .biz-items .item .item-desdcrption {
	font-size: 16px;
	color: #777;
	padding: 0.5em;
}

#linda_businesses .items-full-biz .modal-content .biz-items .item button {
	text-align: initial;
	width: 100%;
	outline: none;
	background-color: #fff;
	border: none;
	font-size: 18px;
	font-weight: 500;
}

#linda_businesses .items-full-biz .modal-content .biz-items .item button:focus,
#linda_businesses .items-full-biz .modal-content .biz-items .item button:focus {
	outline: none;
}

#linda_businesses .items-full-biz .modal-content .biz-items .item .quantity {
	width: 300px;
	margin: 0 auto;
	padding-top: 0px;
}

#linda_businesses .items-full-biz .modal-content .biz-items .item .quantity .value-button {
	display: inline-block;
	border: none;
	margin: 0px;
	width: 35px;
	height: 35px;
	text-align: center;
	vertical-align: middle;
	padding: 0.30rem 0.70rem;
	background: #daa920;
	color: #060c30;
	font-size: 18px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#linda_businesses .items-full-biz .modal-content .biz-items .item .quantity .value-button:hover {
  	cursor: pointer;
}

#linda_businesses .items-full-biz .modal-content .biz-items .item .quantity #decrease {
	margin-right: 0;
	border-radius: 50px;
}

#linda_businesses .items-full-biz .modal-content .biz-items .item .quantity #increase {
	margin-left: 0;
	border-radius: 50px;
}

#linda_businesses .items-full-biz .modal-content .biz-items .item .quantity #input-wrap {
	margin: 0px;
	padding: 0px;
}

#linda_businesses .items-full-biz .modal-content .biz-items .item .quantity input#number {
	text-align: center;
	border: none;
	margin: 0px;
	width: 40px;
	height: 40px;
	font-size: 16px;
}

#linda_businesses .items-full-biz .modal-content .biz-items .item .quantity input[type=number]::-webkit-inner-spin-button,
#linda_businesses .items-full-biz .modal-content .biz-items .item .quantity input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#linda_businesses .items-full-biz .modal-content .biz-items .item .sub-price {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 22px;
}

#linda_businesses .items-full-biz .modal-content .biz-items .item .adding-to-cart {
	border-top: 1px solid #f2f2f2;
	margin-top: 10px;
	width: 100%;
}

#linda_businesses .items-full-biz .modal-content .biz-items .item .adding-to-cart .add-to-cart-btn {
	text-align: center;
	border: none;
	border-left: 1px solid #f2f2f2;
	border-right: 1px solid #f2f2f2;
	width: initial;
	padding: 0.3em 0.5em;
}


/*STARTING CART STYLE*/
#linda_businesses .items-full-biz .modal-content .added-items .cart-item {
	padding: 0.5em;
	border-bottom: 1px solid #f2f2f2;
	font-size: 16px;
}

#linda_businesses .items-full-biz .modal-content .added-items .cart-item i {
	color: #FF3000;
}

#linda_businesses .items-full-biz .modal-content .added-items .place-order-btn {
	border: 1px solid #060c30;
	background-color: transparent;
	padding: 0.2em 0.8em;
	border-radius: 10px;
}

#linda_businesses .items-full-biz .modal-content .added-items .place-order-btn:active,
#linda_businesses .items-full-biz .modal-content .added-items .place-order-btn:focus {
	outline: none;
}

/******************************************************************
					REGISTER BUSINESS MODAL STYLE
*******************************************************************/
#linda_businesses .register-biz .modal-content .register-header {
	background-color: #060c30;
	padding: 1em;
}

#linda_businesses .register-biz .modal-content .register-header h3 {
	font-size: 20px;
	color: #fff;
	font-weight: 550;
}

#linda_businesses .register-biz .modal-content .registration-form .add-profile-pic {
	margin: 30px 0;
	width: 100px;
	height: 100px;
}

#linda_businesses .register-biz .modal-content .registration-form .add-profile-pic img {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 50%;
	border: 3px solid rgb(0,0,0,0.19);
}

#linda_businesses .register-biz .modal-content .registration-form .add-profile-pic i {
	font-size: 22px;
	color: #060c30;
}

#linda_businesses .register-biz .modal-content .registration-form form {
	padding: 0 1em;
}

#linda_businesses .register-biz .modal-content .registration-form form input,
#linda_businesses .register-biz .modal-content .registration-form form textarea {
	background: #fff;
	color: #a3a3a3;
	font-family: "Raleway",sans-serif;
	width: 100%;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
	border: 0;
	outline: 0;
	padding: 0.8em;
	margin-bottom: 10px;
}

#linda_businesses .register-biz .modal-content .registration-form form textarea {
	height: 120px;
}

#linda_businesses .register-biz .modal-content .registration-form form .form-btns {
	margin: 20px 0;
}

#linda_businesses .register-biz .modal-content .registration-form form .form-btns .create-profile-btn {
	background-color: #060c30;
	padding: 0.5em;
	border: none;
	color: #daa920;
	font-family: 'Roboto', sans-serif;
	border-radius: 5px;
}

/******************************************************************
					MANAGE BUSINESS MODAL STYLE
*******************************************************************/
#linda_businesses .manage-biz .modal-content .header-description {
	background-color: #060c30;
}

#linda_businesses .manage-biz .modal-content .header-description .profile-image {
	object-fit: cover;
	padding: 0.5em;
}

#linda_businesses .manage-biz .modal-content .header-description .profile-image img {
	width: 50px;
	height: 50px;
	object-fit: cover;
	border: 1px solid rgb(255,255,255,0.3);
	border-radius: 50%;
}

#linda_businesses .manage-biz .modal-content .header-description .name-location {
	padding: 0.5em 0;
}

#linda_businesses .manage-biz .modal-content .header-description .name-location h2 {
	font-size: 20px;
	color: #fff;
	font-weight: 550;
}

#linda_businesses .manage-biz .modal-content .header-description .name-location small {
	color: #daa920;
	font-size: 15px;
}

#linda_businesses .manage-biz .modal-content .admin-add-items h4 button {
	background-color: #060c30;
	border: none; 
	color: #daa920;
	border-radius: 5px;
	padding: 0.2em 0.5em;
}

#linda_businesses .manage-biz .modal-content .admin-add-items .adding-item-form {
	margin: 20px 0;
}

#linda_businesses .manage-biz .modal-content .admin-add-items .adding-item-form form {
	padding: 0 1em;
}

#linda_businesses .manage-biz .modal-content .admin-add-items .adding-item-form form input,
#linda_businesses .manage-biz .modal-content .admin-add-items .adding-item-form form textarea {
	background: #fff;
	color: #a3a3a3;
	font-family: "Raleway",sans-serif;
	width: 100%;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
	border: 0;
	outline: 0;
	padding: 0.8em;
	margin-bottom: 10px;
}

#linda_businesses .manage-biz .modal-content .adding-item-form form textarea {
	height: 80px;
}

#linda_businesses .manage-biz .modal-content .adding-item-form form .adding-btn-container {
	margin: 0 0 20px 0;
}

#linda_businesses .manage-biz .modal-content .adding-item-form form .adding-btn-container .add-item-btn {
	background-color: #060c30;
	padding: 0.5em;
	border: none;
	color: #daa920;
	font-family: 'Roboto', sans-serif;
	border-radius: 5px;
}

#linda_businesses .manage-biz .modal-content .added-item {
	background-color: #fff;
	margin-bottom: 10px;
	padding: 0.5em;
}

#linda_businesses .manage-biz .modal-content .added-item .w3-row {
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
}

#linda_businesses .manage-biz .modal-content .added-item .w3-row i {
	color: #FF3000;
}

#linda_businesses .manage-biz .modal-content .added-item .description{
	font-size: 16px;
	color: #777;
	padding: 0.5em;
}